/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: #ffffff;
  color: #000000;
}

/* Heading */
h3 {
  margin: 5px;
  /* font-size: 2.5rem; */
  color: #000000;
}

/* Button Container */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}


.heading-container{
    display: flex;
   justify-content: space-between;
}
.card-btn{
  margin: 0px 15px 5px;
  width: auto;
  font-size: 35px;
    border: none;
    opacity: 0.5s;
  background-color: #d1d1d1;
}
.card-btn:hover{
    color: red;
}


/* Card Container */
.card-container {
  display: grid;
  justify-content: center;
  /* text-align: center; */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Card */
.card {
  background: #d1d1d1;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  transition: 0.3s;

}

.card:hover {
  transform: translateY(-8px);
}

/* Card Image */
.card img {
    margin-top: 25px 10px 5px;
  width: 350px;
  height: 400px;
  object-fit: cover;
}
.img-cont{
    padding: 15px;
}

.card p {
  font-size: 0.9rem;
  margin: 0 10px 10px;
  color: #000000;
}



/* Responsive */
@media (max-width: 500px) {
  h1 {
    font-size: 1.8rem;
  }
}